.profile {
    width: 250px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #f3f6f9;
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.description {
    text-align: center;
    padding: 12px;
  }
  
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333333;
  }
  
.name {
    font-size: 20px;
    font-weight: bold;
  }
  
.tag,
.location {
    font-size: 14px;
    color: #9b9b9b;
  }
  
.stats {
    display: flex;
    justify-content: space-between;
    background-color: #c4c4c4;
    padding: 0;
    border-top: 1px solid #757575;
  }
  
.stats li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #757575;
    &:hover, :focus {
      background-color: lightgray;
      cursor: pointer;
    }
  }
  
.stats li:last-child {
    border-right: none;
  }
  
.label {
    display: block;
    font-size: 12px;
    color: #2c2c2c;
  }
  
.quantity {
    font-size: 16px;
    font-weight: bold;
  }