.friendListItem {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #3f3f3f;
  &:hover, :focus {
    background-color: lightgray;
    cursor: pointer;
  }
}

.avatar {
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.status {
  font-size: 14px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
